#header{
    background-color: $bg-primary;
    height: $header-height;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    .submenu_moble{
        display: none;
    }
}

.navbar{
    align-items: center;
    width: 100%;
    height: 5.2rem;
    display: flex;
    justify-content: space-between;
    .logo{
        height: 52px;
        width: 122px;
        display: flex;
        align-items: center;
        img{
            height: 3.6rem;
        }
    }
    .navbar__menu{
        display: flex;
        justify-content:flex-end;
        line-height:26.25px;
        text-align:left;
        z-index: 100;
        .navbar__menu-item{
            font-size:17.5px;
            line-height:48px;
            padding:0px 0px 0px 24px;
            text-align:left;
            font-weight: unset;
            color: #000;
            z-index: 100;
            position: relative;
            span{
            line-height:45px;
            margin:0px 0px 0px 8px;
            text-align:left;
            font-weight: 200;
            }
            .navbar__item-link{
                color: #000;
                width: 100%;
                display: block;
                height: 100%;
            }
            &:hover{
                cursor: pointer;
            }
            &:hover .navbar__subMenu{
                display: block;
                
            }
            &:hover .navbar__submenu1{
                display: block;
                
            }
        }
        // submenu thong bao
        .navbar__submenu1{
            position: absolute;
            width: 400px;
            height: 170px;
            background: #fff;
            top: 100%;
            right: 0;
            box-shadow: 0px 10px 20px 0px #999;
            display: none;
            .submenu__heading{
                display: flex;
                justify-content: space-around;
                text-align: center;
            }
            .btn-submenu{
                margin-left: 82px;
                min-width: 236px;
                background-color: #FE9900;
                &:hover{
                    background-color: #CC7A00 !important;
                    cursor: pointer;
                }
            }
        }
        // submenu them
        .navbar__subMenu{
            position: absolute;
            width: 300px;
            height: auto;
            background-color: #fff;
            right: 0;
            top: 100%;
            padding: 8px 0px;
            z-index: 100;
            max-width: 80vh;
            border: 1px solid rgba(0,0,0,0.15);
            border-top: none;
            display: none;
        }
        .navbar__subMenu-login{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 15px;
            
            .avt{
                width: 60px;
                height: 60px;
                margin-left: -30px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .login a{
                display: block;
                color: #222222 !important;
                text-decoration: none;
                line-height: normal;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .navbar__subMenu-item{
            &:hover{
                background-color: #E8E8E8 !important;
            }
            a{
                display: flex;
                width: 100%;
                margin: 2px 10px 2px 15px;
                span{
                    display: block;
                    color: #222222;
                }   
                img{
                    display: block;
                    width: 30px;
                    height: 30px;
                    margin-top: 5px;
                }
            }
        }
    }
    
}
.search{
    display: flex;
    justify-content: space-between;
    height: 36px;
}
.search__box{
    border-radius: 4px;
    width: 60%;
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    input{
        background-color:#ffffff;
        border-radius:4px;
        color:#222222;
        font-family:sans-serif;
        font-size:17.5px;
        line-height:23.275px;
        height: 100%;
        width: 80%;
        border-left: 1px solid #ccc;
        padding: 4px 8px;
    }
    .icon-search{
        display: block;
        line-height: 36px;
        font-size: 2.8rem;
        color: $bg-primary;
        width:30px;
        height: 36px;
        margin: 0 10px;
        cursor: pointer;
    }
    .search__box-menu{
        align-items:center;
        color:#222222;
        display:flex;
        width: 120px;
        height: 100%;
        font-size:17.5px;
        line-height:26.25px;
        text-align:left;
        cursor: pointer;
        position: relative;
        span{
            margin:0px 10.45px;
            text-align:left;
            width: 78px;
            height: 26px;
            font-size:17.5px;
        }
        i{
            margin-right: 10px;
        }
        &:hover .search__box-sub{
            display: flex;
        }
        &::before{
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            height: 10px;
            top: 100%;
            background-color: transparent;
        }
    }
    .search__box-sub{
        top: calc(100% + 10px);
        position: absolute;
        flex-direction: column;
        background-color: #fff;
        border-radius: 4px;
        left: 0;
        width: 100%;
        display: none;
        box-shadow: 0 2px 6px 1px #999;
        .search_box-item{
            &:first-child{
                border-bottom: 1px solid #ccc;
            }
            padding: 10px 0;
            display: flex;
            align-items: center;
            span{
                font-size: 16px;
            }
            &:hover{
                background-color: #ccc;
            }
        }
    }

}
.search__login{
    width: 142px;
    height: 100%;
    &:hover{
        cursor: pointer;
        opacity: 0.5;
    }
    .login__link{
        width: 100%;
        height: 100%;
        display: flex;
        color:#222222;
        font-family:Helvetica;
        font-size:17.5px;
        line-height:32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i{
            color:#222222;
            display:inline;
            font-size:28px;
            padding:2px;
            line-height: 32px;
            text-align:left;
        }
        span{
            width: 100px;
            height: 100%;
            color:inline;
            font-family:Helvetica;
            font-size:17.5px;
            font-weight:600;
            text-align:left;
            margin-top: 5px;
        }
    }

}
.search__btn{
    border: none;
    width: 150px;
    height: 38px;
    background-color: #FE9900 ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &:hover{
        background-color: #CC7A00 !important;
        cursor: pointer;
    }
}
